// app global css in SCSS form
@font-face {
  font-family: "Oswald";
  src: url(./fonts/Oswald-Medium.ttf);
  font-weight: 500;
}

.q-page {
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1200px) {
    max-width: 1170px;
  }
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}
